/* Настройки bar */

.bar.no-border
{
    border: none;
}

/* END Настройки bar */

.menu_theme_dark .bar,
.menu_theme_dark ion-content,
.menu_theme_dark .item-content,
.menu_theme_dark .item-content.activated
{
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    background-image: none;
}

.menu-content
{
    border-left: 1px solid #E7E7E7;
}

.menu_theme_dark .list .item
{
    color: #444;
    border: none;
}

.menu_theme_dark .item.menu_active_yes .item-content
{
    color: rgb(40, 139, 205);
}

.menu_theme_dark .item-content
{
    font-size: 16px;
    transition: font-size 0.05s;
}
.menu_theme_dark .item-content.activated
{
    font-size: 0.99em;
}

.menu-content
{
    box-shadow: none !important;
}

.bar.bar-ios7
{
    border-color: #E7E7E7;
    background-color: #FAFAFA;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}

.bar-ios7 .button
{
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
    font-size: 17px;
}

#image-container
{
    width: 250px;
    height: 250px;

    display: inline-block;
}

.centered
{
    text-align: center;
}
